{% extends "reviews/base.html" %}
{% block title%}{{ review.user_name }}{% endblock %}
{% block content %}
    <h5>By: {{ review.user_name }}</h5>
    <b>{{ review.rating }}</b>
    <p>{{ review.review_text }}</p>
    {% if is_favourite %}
    <p>This is my favourite!</p>
    {% else %}
    <form action="/reviews/favourite" method="post">
        {% csrf_token %}
        <input type="hidden" name="review_id" value="{{ review.id }}">
        <button>Favourite</button>
    </form>
    {% endif %}
{% endblock %}
    
